<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">نمایش زمانبد های فعال در سیستم</h4>
                <p class="panel_text_solid">
                   در این بخش لیست زمانبند های فعال قابل مشاهده است کارهای که به صورت خودکار در  زمان های تعین شده ای انجام میگیرد
                </p>
            </div>
        </div>
    </div>
</div>