<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">
                   نمایش لیست کار های زمانبندی شده
                </h4>
                <p class="panel_text_solid">
               در این بخش شما می توانید لیست تمام کارهای که در سیستم زمانبندی شده اند را ببینید 
                 </p>
            </div>
        </div>
    </div>
</div>
