<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">لیست IP  های ثیت شده خطرناک</h4>
                <p>
                    در زیر لیست کلی گروه ها و زیر گروه های برنامه همراه با یک نمای جزئی از آن نمایش داده شده است لطفا برای اطلاعات بیشتر بر روی گزینه موارد بیشتر کلیک نمایید
                </p>
            </div>
        </div>
    </div>
</div>


