@model string
<div class="row distanceTextBoxSearchWithDataTable">
    <div class="col-sm-7 padingTextBoxSearchWithDataTable">
        <label>
            تعداد کل برچسب های تعریف شده در سیستم <span>
                @Model
            </span> برچسب می باشد
        </label>
    </div>
    <div class="col-sm-1 padingTextBoxSearchWithDataTable">
        <label class="pull-left">
            جستجو
        </label>
    </div>
    <div class="col-sm-4">
        @using (Ajax.BeginForm(actionName: MVC.admin.Label.ActionNames.DataLabel, controllerName: MVC.admin.Label.Name, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoadingTable", UpdateTargetId = "table-Content" }))
        {
            <input type="search" id="term" name="term" class="pull-right styleTextBoxSearch" data-autocomplete-url="@Url.Action(MVC.admin.Label.ActionNames.GetNameForAutoComplete, MVC.admin.Label.Name)" />
        }
    </div>
</div>