<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">برچسب های تعریف شده در سیتم</h4>
                <p class="panel_text_solid">
                    در این بخش امکان تعریف برچب در سیتم وجود دارد این برچسب ها در در زمان تعریف یک محصول مورد استفاده قرار می گیرند
                </p>
            </div>
        </div>
    </div>
</div>


