@using System.Globalization
@model DateTime?
@{

    Func<DateTime, string> toPersianDate = date =>
    {
        var dateTime = new DateTime(date.Year, date.Month, date.Day, new GregorianCalendar());
        var persianCalendar = new PersianCalendar();


        var persianDay = string.Empty;
        var persianMonth = string.Empty;
        var Day = persianCalendar.GetDayOfMonth(dateTime).ToString();
        switch (dateTime.ToString("dddd"))
        {
            case "Sunday":
                persianDay = "یکشنبه";
                break;
            case "Monday":
                persianDay = "دوشنبه";
                break;
            case "Tuesday":
                persianDay = "سه شنبه";
                break;
            case "Wednesday":
                persianDay = "چهار شنبه";
                break;
            case "Thursday":
                persianDay = "پنج شنبه";
                break;
            case "Friday":
                persianDay = "جمعه";
                break;
            case "Saturday":
                persianDay = "شنبه";
                break;
        }
        var Month = persianCalendar.GetMonth(dateTime).ToString();
        var Year = persianCalendar.GetYear(dateTime).ToString();

        switch (Month)
        {
            case "1": persianMonth = "فروردین";
                break;
            case "2": persianMonth = "اردیبهشت";
                break;
            case "3": persianMonth = "خرداد";
                break;
            case "4": persianMonth = "تیر";
                break;
            case "5": persianMonth = "مرداد";
                break;
            case "6": persianMonth = "شهریور";
                break;
            case "7": persianMonth = "مهر";
                break;
            case "8": persianMonth = "آبان";
                break;
            case "9": persianMonth = "آذر";
                break;
            case "10": persianMonth = "دی";
                break;
            case "11": persianMonth = "بهمن";
                break;
            case "12": persianMonth = "اسفند";
                break;
            default:
                break;
        }
        return persianDay.ToString() + " " + persianCalendar.GetDayOfMonth(dateTime).ToString()  + " " + persianMonth.ToString() + " " + Year;
    };

    var name = this.ViewContext.ViewData.ModelMetadata.PropertyName;
    var value = Model.HasValue ? toPersianDate(Model.Value) : string.Empty;
}


<label id="@name">@value</label>