<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
            <strong>
                در ورود اطلاعات دقت لازم صورت گیرد / مقادیری را اشتباه وارد کرده اید یا وارد نکرده اید
                @*@Html.ValidationSummary() For Completed Information To User *@
            </strong>
        </div>
    </div>
</div>
