<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">جستجوی کمپانی های سازنده محصولات آموزشی</h4>
                <p class="panel_text_solid">
                    در این بخش این امکان فراهم شده است که بتوانید کمپانی  های سازنده یک محصول آموزشی خاص را پیدا کنید و جزئیات مربوط به آن دسته از تکنولوژی مربوطه به آن کمپانی را ببیند
                </p>
            </div>
        </div>
    </div>
</div>

