@using eShop.WebApplication.DomainClasses.ViewModelClasses

@model List<ProductShowViewModel>

<header>
    <h5>
        <a>
            جدیدترین محصولات آموزشی
        </a>
    </h5>
</header>

<ul class="UlNews">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.RouteUrl("DetailsProduct", new { productId=item.Id, productName=item.Name.Replace(' ','-')})">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12 BaseBook">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Image">
                            <img src="~/Content/Images/Product/ThumbLine_New/@item.PrimaryImage" />
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 BaseBookText">
                            @if (item.Name.Length < 48)
                            {
                                <h5>
                                    @item.Name
                                </h5>
                            }
                            else
                            {
                                <h5>
                                    @string.Format("{0}", item.Name.Substring(0, 45))
                                </h5>
                            }
                            <span>
                                @Html.DisplayFor(x => item.Date, "DisplayFullPersian")
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>


