
@{
    ViewBag.Title = "DisableJavaScript";
    Layout = "~/Views/Shared/_MainSidebar.cshtml";
}
<div class="row BaseContainerError img-rounded">
    <br /><br />
    <div class="col-md-12">
        <div class="alert alert-white">
            <div class="col-md-5" style=" text-align:center; margin:10px auto; float:none; font:normal 18px eramFont; border-top:2px solid #eee; padding-top:10px;">
                با عرض پوزش از شما !
                <br />
                <br />            
                 کاربر گرامی  جاوااسکریپت در مرورگر شما غیر فعال است . لطفا جاوااسکریپت خود را فعال نمایید
                و تا زمان غیر فعال بودن امکان مشاده وجود ندارد
            </div>
        </div>
    </div>
</div>
<br /><br />

