
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>نداشتن مجوز</title>
</head>
<body>
    <div style="border-color: gray; border-width: 1pt; border-style: solid">
        <div align="center" style="font-family: Tahoma; font-size: 9pt; direction: rtl; background: #B6B66B">
            <br>
            <span style="color: white">
                کاربر گرامی شما مجوز دسترسی به سایت را ندارد لطفا نسخه مرورگر خود را افزایش دهید
            </span>
            <br>

            <br>
        </div>
    </div>
</body>
</html>