@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MainSidebar.cshtml";
}

<div class="row BaseContainerError img-rounded">
    <br /><br />
    <div class="col-md-12">
        <div class="alert alert-white">
            <div class="col-md-5" style=" text-align:center; margin:10px auto; float:none; font:normal 18px eramFont; border-top:2px solid #eee; padding-top:10px;">
                با عرض پوزش از شما !
                <br />
                <br />
                مشکلی ایجاد شده است این مشکل به صورت خودکار به مدیریت گزارش داده می شود تا در سریعترین زمان ممکن برطرف گردد
            </div>
        </div>
    </div>
</div>
<br /><br />