@{
    ViewBag.Title = "ماهده جزئات خرید در فناوران اطلاعات ارم وب شیراز";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<br />
<div class="row col-md-offset-1">
    <div class="col-md-11">
        <h2 class="center-block" style="font:normal 20px eramFont; text-align:center;">
            <span class="center-block">
                پایان خرید
            </span>
        </h2>
    </div>
</div>

<div class="distanceTop"></div>
<div class="row bs-wizard" style="border-bottom:0;">

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <span class="glyphicon glyphicon-ok" style="color:white;"></span>
        </a>
        <div class="bs-wizard-info text-center">
            <a class="decoration_a">
                سبد خرید
            </a>
        </div>
    </div>

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <span class="glyphicon glyphicon-ok" style="color:white;"></span>
        </a>
        <div class="bs-wizard-info text-center">
            <a class="decoration_a">
                آدرس و مشخصات
            </a>
        </div>
    </div>

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <span class="glyphicon glyphicon-ok" style="color:white;"></span>
        </a>
        <div class="bs-wizard-info text-center">
            <a class="decoration_a">تائید اطلاعات</a>
        </div>
    </div>

    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot">
            <span class="glyphicon glyphicon-ok" style="color:white;"></span>
        </a>
        <div class="bs-wizard-info text-center">
            <a class="decoration_a">
                انتخاب روش پرداخت
            </a>
        </div>
    </div>
</div>
<div class="distanceBottom"></div>



<div class="row col-md-offset-1">
    <div class="col-md-7" style="border-bottom:1px solid #eee">
        <h3 style="font:normal 17px eramFont;">
            خرید شما با موفقیت انجام شد
        </h3>
    </div>
    <div class="col-md-2">
        <br />
        <span style="font-size:19px; color:green;border-bottom:1px solid #eee;padding-bottom:9px;">
            کد رهگیری
        </span>
    </div>
    <div class="col-md-2">
        <br />
        <span style="font-size:19px; color:green;border-bottom:1px solid #eee;padding-bottom:9px;">
            EWTR-@ViewBag.Code
        </span>
    </div>
</div>

<br /><br />


<div class="row col-md-offset-1">
    <div class="col-md-11">
        <ul class="ultimateInformation">
            <li>
                خرید شما در وضعیت انتظار تائید قرار دارد
            </li>
            <li>
                بعد از تائید یک پیامک به شماره ثبت شده توسط شما ارسال میگردد
            </li>
            <li>
                بسته شما از طریق پست پیشتاز ارسال میگردد
            </li>
            <li>
                کد رهگیری پستی به شماره ثبت شده ارسال می گردد
            </li>
            <li>
                مجموعه آموزش های جدید مطابق با گروه های آموزشی که شما خرید داشته اید در صورت اضافه شدن به سایت به شماره ثبت پیامک فرستاده می شود
            </li>
            <li>
                از خرید شما بینهایت سپاسگزاریم
            </li>
            <li>
                جهت نمایش جزئیات خرید به صفحه پروفایل خود مراجعه نمایید
            </li>
        </ul>
    </div>

    <br /><br />

    <div class="col-md-11" style="margin-bottom:25px;">
        <a class="decoration_a pull-left" href="/">بازگشت به صفحه اصلی</a>
    </div>


    <br />
</div>