<div class="row">
    <div class="col-md-2">
        <img class="media-object img-circle img-online"
             src="~/Content/Images/photos/user2.png" style="width:180px; height:180px;" alt="...">
    </div>
    <div class="col-md-10">
        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom">عنوام پکیج</div>
            <div class="col-md-10 borderBottom padingBottom colortextOne">Learning ASP MVC With Scot Hansleman And Vahid Naseri</div>
        </div>
        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom"> بدون احتساب تخفیف</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>3900</span>&nbsp;
                <span>تومان</span>
            </div>
            <div class="col-md-2 padingBottom"> با احتساب تخفیف</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>3200</span>&nbsp;
                <span>تومان</span>
            </div>
        </div>
        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom">تعداد محصولات</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>30</span>&nbsp;
                <span>محصول</span>
            </div>
            <div class="col-md-2 padingBottom"> در صد تخفیف</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>30</span>&nbsp;
                <span>%</span>
            </div>
        </div>

        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom">تاریخ شروع</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>19/03/1389</span>
            </div>
            <div class="col-md-2 padingBottom">تاریخ پایان</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>19/03/1389</span>
            </div>
        </div>

        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom">وضعیت نمایش</div>
            <div class="col-md-4 padingBottom borderBottom">
                <div class="ckbox ckbox-primary pull-left">
                    <input type="checkbox" id="checkbox7" checked disabled>
                    <label for="checkbox7"></label>
                </div>
            </div>
            <div class="col-md-2 padingBottom">جمع زمان ها</div>
            <div class="col-md-4 padingBottom borderBottom colortextOne">
                <span>320</span>&nbsp;
                <span>ساعت</span>
            </div>
        </div>

        <div class="col-md-12 marginBottom">
            <div class="col-md-2 padingBottom">پایان اعتبار پکیج</div>
            <div class="col-md-10 borderBottom padingBottom colortextOne">
                <span>30</span>&nbsp;
                <span>روز</span>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">توضحیات مربوط به پکیج آموزشی</div>
    <div class="col-md-10 borderRight textColor">
        I'm developing new website. I need jquery image slider. My requirements are listed below:

        All images are shown in a page

        when click a nth image in a page, it redirects you to full view of particular image with address barhttp://www.example.com/example/example#10

        On full view page, i need previous and next button to view all images.

        All images should be shown on its original size, not in given width and height.

        I need image slider similar to this http://www.behindwoods.com/tamil-movies/lingaa/lingaa-photos-pictures-stills.html#7


        Actually you can view all images while you click on Lingaa photos & stills. When you click particular image, it redirects to new page with selected image on its original size.


        I used superslides for this requirements but i can't get image with its original width and height.
    </div>

    <div class="col-md-12 borderBottom">
        <div class="spliterDivPackage">
        </div>
    </div>
</div>
