<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary-head">
            <div class="panel-heading">
                <h4 class="panel-title panel_title_solid">ایجاد پکیج های آموزشی</h4>
                <p class="panel_text_solid">
                    در زیر لیست کلی محصولات فروشگاه و نمای جزئی از محصولات نمایش داده شده است برای اطلاعات بیشتر در رابطه با هر محصول لطفا بر روی گزینه موارد بیشتر کلیک نمایید
                </p>
            </div>
        </div>
    </div>
</div>
