@{
    Layout = "~/Areas/admin/Views/Shared/_Main.cshtml";
    var loadInfoUrl = Url.Action(actionName: MVC.admin.Package.ActionNames.DataPackage,
    controllerName: MVC.admin.Package.Name);
}
@using eShop.WebApplication.DomainClasses.ViewModelClasses
@model List<PackageViewModel>
@Html.Partial(partialViewName:MVC.admin.Package.Views._SolidHeaderPackage)
<div class="packageli">
    <input type="hidden" value="1" id="PageNumber" name="PageNumber" />
    <ul class="media-list msg-list" id="MoreInfoDiv">
        @{ Html.RenderPartial(partialViewName: MVC.admin.Package.Views._DataPackage, model: Model); }
    </ul>
    <br />

    <div class="row controlitembutton">
        <div class="controlItemButtonInnerDiv">
            <div class="col-md-10 borderLeft">
                <input id="moreInfoButton" type="button" class="btn btn-primary btn-block" value="موارد بیشتر" />

            </div>
            <div class="col-md-2 center-block controlDisplay" id="ProgressDiv" align="center">
                <img src="@Url.Content("~/Content/Images/Main/loadingAnimation.gif")" />
            </div>


        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#moreInfoButton").InfiniteScroll({
                moreInfoDiv: '#MoreInfoDiv',
                progressDiv: '#ProgressDiv',
                loadInfoUrl: '@loadInfoUrl',
                loginUrl: '/login',
                errorHandler: function () {
                    alert('خطایی رخ داده است');
                },
                completeHandler: function () {
                    $("#PageNumber").val(parseInt($("#PageNumber").val()) + 1);
                },
                noMoreInfoHandler: function () {
                    $("#moreInfoButton").css("display", "none");
                }
            });
        });
    </script>
}

