@model String
<div class="row col-md-offset-1">
    <div class="col-md-11">
        <h2 class="center-block" style="font:normal 20px eramFont; text-align:center;">
            <span class="center-block">
                @Model
            </span>
        </h2>
    </div>
</div>

<div class="distanceTop"></div>
<br />
