@{
    ViewBag.Title = "بازیابی کلمه عبور در فناوران اطلاعات ارم وب شیراز";
    Layout = "~/Views/Shared/_MainSidebar.cshtml";
}

<div class="row img-rounded" style="background-color:white;padding-top:25px; padding-bottom:25px;">
    <div class="center-block">
        <img src="~/Content/Images/Main/reset_paasword_icon.png" class="center-block" />  
    </div>
    <div class="center-block" style="text-align:center; margin-top:15px; margin-bottom:20px; padding-bottom:20px;">
        <span class="center-block" style="font-size:17px;">
           بازیابی رمز عبور فراموش شده در فناوران اطلاعات ارم وب
        </span>
    </div>

    <div style="width:400px;" class="center-block">
        <div style="border:1px solid #eee; height:1px;"></div>
        <br />
        <form>
            <div>
                <p style="font-size:16px;">
                    رایانامه :
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control col-md-4 controlFocus" />
                <span class="text-danger">رمز عبور اشتباه است</span>
            </div>
            <div class="form-group">
                <input type="submit" value="تائید عضویت در فناوران اطلاعات ارم وب" class="btn btn-primary" style="width:100%;margin-top:20px; margin-bottom:20px;" />
            </div>
        </form>

        <div style="border:1px solid #eee; height:1px;"></div>
        <div class="form-group">
            <br />

            <span>
                من قبلا در فناوران اطلاعات ارم وب ثبت نام کرده ام
            </span>
        </div>
    </div>
</div>

