@model int
<div class="row distanceTextBoxSearchWithDataTable">
    <div class="col-sm-7 padingTextBoxSearchWithDataTable">
        <label>
            تعداد IP  های بلاک شده در سیستم <span>
                @Model.ToString()
            </span> IP  می باشد
        </label>
    </div>
    <div class="col-sm-1 padingTextBoxSearchWithDataTable">
        <label class="pull-left">
            جستجو
        </label>
    </div>
    <div class="col-sm-4">
        @using (Ajax.BeginForm(actionName: MVC.admin.Block.ActionNames.DataIPBlock, controllerName: MVC.admin.Block.Name, ajaxOptions: new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, LoadingElementId = "divLoadingTable", UpdateTargetId = "table-Content" }))
        {
            <input type="search" id="term" name="term" class="pull-right styleTextBoxSearch" data-autocomplete-url="@Url.Action(MVC.admin.Block.ActionNames.GetIPForAutoComplete, MVC.admin.Block.Name)" />
        }
    </div>
</div>
